# EBM
# http://soygus.com
# @author MadeByGus

## EBM
style.min.css
style.unprefixed.css
style.prefixed.css

## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

## Bower
src/components
lib

## Images
app/assets/img/*.jpg
app/assets/img/*.png
app/assets/img/*.JPEG
app/assets/img/*.gif
app/assets/img/*.tiff
# src/img/*.jpg
# src/img/*.png
# src/img/*.gif
# src/img/*.JPEG
# src/img/*.tiff

## Icons
app/assets/icons/*.svg
app/assets/icons/*.eot
app/assets/icons/*.ttf
app/assets/icons/*.woff

## Sass
.sass-cache

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# READMES
HISTORY.md
OLDREADME.md

## WORDPRESS
wp-config.php
wp-content/uploads/**
## EBM
wp-content/themes/Catalogics.2016/style.min.css
wp-content/themes/Catalogics.2016/style.unprefixed.css
wp-content/themes/Catalogics.2016/style.prefixed.css

## Node.js
wp-content/themes/Catalogics.2016/lib-cov
wp-content/themes/Catalogics.2016/*.seed
wp-content/themes/Catalogics.2016/*.log
wp-content/themes/Catalogics.2016/*.csv
wp-content/themes/Catalogics.2016/*.dat
wp-content/themes/Catalogics.2016/*.out
wp-content/themes/Catalogics.2016/*.pid
wp-content/themes/Catalogics.2016/*.gz
wp-content/themes/Catalogics.2016/pids
wp-content/themes/Catalogics.2016/logs
wp-content/themes/Catalogics.2016/results
wp-content/themes/Catalogics.2016/npm-debug.log
wp-content/themes/Catalogics.2016/node_modules

## Bower
wp-content/themes/Catalogics.2016/src/components
wp-content/themes/Catalogics.2016/lib

## Images
wp-content/themes/Catalogics.2016/app/assets/img/*.jpg
wp-content/themes/Catalogics.2016/app/assets/img/*.png
wp-content/themes/Catalogics.2016/app/assets/img/*.JPEG
wp-content/themes/Catalogics.2016/app/assets/img/*.gif
wp-content/themes/Catalogics.2016/app/assets/img/*.tiff
# wp-content/themes/Catalogics.2016/src/img/*.jpg
# wp-content/themes/Catalogics.2016/src/img/*.png
# wp-content/themes/Catalogics.2016/src/img/*.gif
# wp-content/themes/Catalogics.2016/src/img/*.JPEG
# wp-content/themes/Catalogics.2016/src/img/*.tiff

## Icons
wp-content/themes/Catalogics.2016/app/assets/icons/*.svg
wp-content/themes/Catalogics.2016/app/assets/icons/*.eot
wp-content/themes/Catalogics.2016/app/assets/icons/*.ttf
wp-content/themes/Catalogics.2016/app/assets/icons/*.woff

## OLDREADME
wp-content/themes/Catalogics.2016/HISTORY.md
wp-content/themes/Catalogics.2016/OLDREADME.md

