/* 
	Hero unit
*/
$hero-unit-height-control: 70vh;
.hero-unit {
	@include bg-img-block;
	min-height: $hero-unit-height-control;
	background-color: $brand-primary;
	position: relative;
	overflow: hidden;
	&.video-bg {
		overflow: hidden;
		min-height: $hero-unit-height-control;
	}
	.overlay,
	.hero-unit-pic {
		@include position(absolute, 0 0 0 0);
		min-height: $hero-unit-height-control;
	}
	.hero-unit-pic {
		img {
			width: 100%;
			height: auto;
		}
	}
}