/*
	EBM Global styles
*/
html {
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {}

.site-wrapper,
.site-content {
	overflow-x: hidden;
	position: relative;
}

$header-height-control: 70px;
.header {
	@include normalize-text;
	@include position-fixed-top(1000);
	border-bottom: 1px solid darken($brand-primary, 3%);
	background-color: $brand-primary;
	.header-left,
	.header-center,
	.header-right {
		@include flex-column-center;
		height: $header-height-control;
	}
	.header-left,
	.header-right {
	}
	.header-left {
		
	}
	.header-center {
		text-align: center;
	}
	.header-right {
		text-align: right;
	}
}

#menu-main-menu {
	@include list-unstyled;
	li {
		display: inline-block;
		&:hover,
		&.current-menu-item {
			cursor: pointer;
			a {
				color: $gray-lighter;
			}
		}
		a {
			@include medium;
			font-size: $font-size-h5;
			color: white;
		}
	}
}

.logo {
	img {
		width: 180px;
		height: auto;
	}
}

.section {
	padding: rem(42px) 0;
	.title {
		margin-bottom: rem(42px);
	}
}

// Services blocks
.services-block {
	padding: rem(42px) 0;
	.left, .right {
		@include flex-column-center;
		min-height: 100vh;
		img {
			@include transition(all 0.2s ease-in-out);
		}
	}
	.left {
		img {
			@include transform(translateX(-150%));
		}
	}
	.right {
		img {
			@include transform(translateX(100%));
		}
	}
	img {
		width: 910px;
		height: 680px;
	}
	.img-slide-container {
		position: relative;
	}

	&.animate {
		.left {
			img {
				@include transform(translateX(-60%));
			}
		}
		.right {
			img {
				@include transform(translateX(5%));
			}
		}
	}
}

.footer {
	@include normalize-text;
	background-color: $gray-dark;
	.row {
		> div {
			@include flex-column-center;
			min-height: $header-height-control;
		}
	}
}

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {
	.site-content {
		.services-block {
			.left, .right {
				padding: rem(42px);
				min-height: auto;
			}
		}
	}
}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}